<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV8Xp1UsJJImr_wdbB4f-Kzkek2_xbpG4</string>
	<key>GCM_SENDER_ID</key>
	<string>108881056954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rivendel.circleofmath</string>
	<key>PROJECT_ID</key>
	<string>circle-of-math</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-of-math.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108881056954:ios:15931ae97d1a77bf8dde83</string>
</dict>
</plist>